@media only screen and (min-width: 600px) {
  #table-of-contents {
    max-width: 200px !important;
    padding-left: 0;
  }

  #content-area {
    min-width: 800px;
    box-sizing: content-box;
  }
}
